USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 4/22/2022 6:52:39 AM ******/
CREATE DATABASE [QLTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[PHIEU_MUON]    Script Date: 4/22/2022 6:52:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_MUON](
	[Ma_Phieu_muon] [nvarchar](10) NOT NULL,
	[id] [nvarchar](10) NULL,
	[Ma_Sach] [nvarchar](10) NULL,
	[Ngay_muon] [date] NULL,
	[Han_tra] [date] NULL,
	[NgayTra] [date] NULL,
 CONSTRAINT [PK_PHIEU_MUON] PRIMARY KEY CLUSTERED 
(
	[Ma_Phieu_muon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN_TRI]    Script Date: 4/22/2022 6:52:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_TRI](
	[Ma_Admin] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUAN_TRI] PRIMARY KEY CLUSTERED 
(
	[Ma_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 4/22/2022 6:52:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[Ma_Sach] [nvarchar](10) NOT NULL,
	[Ten_Sach] [nvarchar](50) NULL,
	[Ten_Tac_gia] [nvarchar](50) NULL,
	[Nha_xb] [nvarchar](50) NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[Ma_Sach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinh_Vien]    Script Date: 4/22/2022 6:52:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinh_Vien](
	[id] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Ten_Sinh_Vien] [nvarchar](50) NULL,
	[Tuoi] [nvarchar](50) NULL,
	[Lop] [nvarchar](50) NULL,
 CONSTRAINT [PK_SINH_VIEN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_MUON_SACH] FOREIGN KEY([Ma_Sach])
REFERENCES [dbo].[SACH] ([Ma_Sach])
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [FK_PHIEU_MUON_SACH]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_MUON_SINH_VIEN] FOREIGN KEY([id])
REFERENCES [dbo].[Sinh_Vien] ([id])
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [FK_PHIEU_MUON_SINH_VIEN]
GO
USE [master]
GO
